<form>
    
    <div class="form-group">
        <input type="text"
        name="nametxt" placeholder="Name"
        [(ngModel)]="var_name" class="form-control" required/>

    </div>

    <div class="form-group">
        <input type="text"
        name="emailtxt" placeholder="Phone Number"
        [(ngModel)]="var_email"
        class="form-control" required/>
    </div>

    <div class="form-group">
        <label style="color:white;">Blood Group</label>
       
        <select class="form-control" name="branchcb" [(ngModel)]="var_branch">
            <option *ngFor="let branch of branches"
            [value]="branch">{{branch}}</option>
        </select>

        <div class="button">
            <button class="btn btn-success" (click)="register_clickHandler()"> Register</button>
        </div>

    </div>
   
    

    
    <br/><br/>
    

</form>